<mat-expansion-panel expanded>

	<mat-expansion-panel-header>
		<mat-panel-title>
			Editor Preferences
		</mat-panel-title>
	</mat-expansion-panel-header>

	<mat-form-field class="mat-form-field-select">
		<mat-select
			placeholder="Language"
			[(value)]="selectedMode"
			(selectionChange)="modeChange()">
			<mat-option *ngFor="let mode of modes" [value]="mode.value">
				{{mode.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="mat-form-field-select">
		<mat-select
			placeholder="Theme"
			[(value)]="selectedTheme"
			(selectionChange)="themeChange()">
			<mat-optgroup *ngFor="let item of themes | keyvalue" [label]="item.key">
				<mat-option *ngFor="let theme of item.value" [value]="theme">
					{{theme | titlecase}}
				</mat-option>
			</mat-optgroup>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="mat-form-field-number">
		<input matInput
			type="number"
			placeholder="Font Size (px)"
			[value]="fontSize"
			[min]="minFontSize"
			[max]="maxFontSize"
			(change)="sizeChange($event)">
	</mat-form-field>

</mat-expansion-panel>