.div-title-group {
	color: #fff;
	display: block;
	text-align: center;
	padding-top: 100px;
	h2 { margin: 0 0 50px; }
	.mat-button-toggle { width: 100px; }
}

.mat-card-landing {
	position: absolute;
	width: 600px;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	>* { padding: 16px; }
	.mat-card-header {
		display: block;
		text-align: center;
		color: rgba(0,0,0,.54);
		background-color: rgba(0,0,0,.03);
	}
	.mat-card-title { margin: 0; }
	.mat-card-actions { padding-top: 10px; text-align: center; }
	.mat-form-field-select, .mat-form-field-key { width: 300px; }
	a { width: 80px; margin-left: 25px; }
}
