<div class="img-backdrop"></div>

<div class="div-title-group">
	<img src="../assets/logo.png">
	<h2>Collaborative code editing with write-permission control</h2>
	<p>- join as -</p>
	<mat-button-toggle-group #group="matButtonToggleGroup">
		<mat-button-toggle [value]="UserType.Instructor">
			Instructor
		</mat-button-toggle>
		<mat-button-toggle [value]="UserType.Student">
			Student
		</mat-button-toggle>
	</mat-button-toggle-group>
</div>

<mat-card *ngIf="group.value===UserType.Instructor" class="mat-card-landing">
	<mat-card-header>
	<mat-card-title>
		Create a new workspace using the following language
	</mat-card-title>
	</mat-card-header>
	<mat-card-actions>
		<mat-form-field class="mat-form-field-select">
			<mat-select
				placeholder="Language"
				[(value)]="mode">
				<mat-option
					*ngFor="let mode of modes"
					[value]="mode.value">
					{{mode.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-raised-button
			color="accent"
			(click)="onCreateClick()">
			Create
		</button>
	</mat-card-actions>
</mat-card>

<mat-card *ngIf="group.value===UserType.Student" class="mat-card-landing">
	<mat-card-header>
	<mat-card-title>
		Join an existing workspace by entering its key below
	</mat-card-title>
	</mat-card-header>
	<mat-card-actions>
		<mat-form-field class="mat-form-field-key">
			<input matInput
				type="text"
				placeholder="Key"
				maxlength="20"
				[(ngModel)]="key">
		</mat-form-field>
		<button mat-raised-button
			color="accent"
			(click)="onJoinClick()">
			Join
		</button>
	</mat-card-actions>
</mat-card>
