<app-top-navbar
  [drawerOpen]="drawer.opened"
  (homeClick)="navigateToHome()"
  (linkClick)="openKeyDialog()"
  (listClick)="drawer.toggle()"
></app-top-navbar>

<mat-drawer-container>

  <mat-drawer #drawer mode="side">
    <app-user-panel #UserPanel
      [ownerId]="ownerId"
      [activeUser]="activeUser"
      (activeUserChange)="setActiveUser($event)"
    ></app-user-panel>
  </mat-drawer>

  <mat-drawer-content>
    <as-split class="split-container"
      direction="vertical"
      (dragEnd)="resizeEditors()">
      <as-split-area size="95">
        <ace-editor
          #mainEditor
          [mode]="selectedMode"
          [theme]="selectedTheme"
          [options]="options"
          [readOnly]="!(isOwner()||isActiveUser())"
          [autoUpdateContent]="true"
          class="ace-editor"
        ></ace-editor>
      </as-split-area>
      <as-split-area size="5">
        <ace-editor
          #noteEditor
          [mode]="selectedMode"
          [theme]="selectedTheme"
          [options]="options"
          class="ace-editor"
        ></ace-editor>
      </as-split-area>
    </as-split>
    <app-editor-pref
      [modes]="modes"
      [selectedMode]="selectedMode"
      (selectedModeChange)="setSelectedMode($event)"
      [themes]="themes"
      [selectedTheme]="selectedTheme"
      (selectedThemeChange)="setSelectedTheme($event)"
      [fontSize]="options.fontSize"
      (fontSizeChange)="setFontSize($event)"
    ></app-editor-pref>
  </mat-drawer-content>

</mat-drawer-container>
