<router-outlet></router-outlet>

<mat-drawer-container>

  <mat-drawer #drawer opened mode="side">
    <app-user-panel #UserPanel
      [ref]="ref.child('users')"
      [userId]="userId"
      [ownerId]="ownerId"
      [activeUser]="activeUser"
      (activeUserChange)="setActiveUser($event)"
    ></app-user-panel>
  </mat-drawer>
  
  <ace-editor
    #AceEditor
    [mode]="selectedMode"
    [theme]="selectedTheme"
    [options]="options"
    [readOnly]="!(ownerId===userId || activeUser===userId)"
    [autoUpdateContent]="true"
    class="ace-editor"
  ></ace-editor>

  <app-editor-pref
    [modes]="modes"
    [selectedMode]="selectedMode"
    (selectedModeChange)="setSelectedMode($event)"
    [themes]="themes"
    [selectedTheme]="selectedTheme"
    (selectedThemeChange)="setSelectedTheme($event)"
    [fontSize]="options.fontSize"
    (fontSizeChange)="setFontSize($event)"
  ></app-editor-pref>

</mat-drawer-container>
